.DS_Store
.vscode/
*/**/.DS_Store

/node_modules

dist
cache
artifacts
typechain-types
out

deployments/mainnet/solcInputs/*
deployments/base-sepolia/solcInputs/*
deployments/hardhat/*
!deployments/hardhat/.chainId

.coverage_artifacts
.coverage_contracts
/coverage
/coverage.json
allFiredEvents
scTopics

.env*
!.env.template
